/* navigations */

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
:root{
    --text-color: #fff;
    --dark-color: #000;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
*{
    box-sizing: border-box;
}
header{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}
.logo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li{
    flex: 1;
    margin: 0 0.4rem;
    position: relative;
}
nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 1rem;
    color: var(--text-color);
    font-weight: bold;
    transition: all 0.5s; /* takes 5s to turn to red when hovered*/
}
.banner{
    background-color: #3f51b5;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/* hover effect */
/* nav a:hover{
    color: red;
} */
nav ul li a, nav ul li a:after, nav ul li a:before{
    transition: all 0.5s;
}
nav ul li a:hover{
    color: var(--text-color);
}
nav.menu ul li a{
    position: relative;
    display: block;
}
nav.menu ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    content: ".";
    color: transparent;
    background: var(--text-color);
    height: 3px;
}
nav.menu ul li a:hover:after{
    width: 100%;
}

/* dropdown */
nav li ul{
    position: absolute;
    width: 100%;
    top: 100%;
    background: var(--text-color);
    border-bottom: 3px solid var(--dark-color);
    transition: all 0.5s;
    display: none;
}
nav ul li ul li a{
    color: var(--dark-color);
    padding: 1rem 0;
    display: block;
}
nav ul li:hover ul{
    display: block;
}
#toggle, .label{
    display: none;
}

/* @media */
/* 
smartphone - 480px
tablet - 578px
laptop - 992px / 1024px
desktop - 1200px

rem units, percentage unit, em unit

1em = 16px

1rem = 16px
*/


/* media query */
@media(max-width: 700px){
    header{
        display: block;
    }
    .logo{
        display: flex;
        margin-left: 2rem;
    }
    nav ul{
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        width: 100%;
    }
    .fas{
        font-size: 22px;
        color: var(--text-color);
        line-height: 70px;
        top: 1em;
        position: absolute;
        width: 30px;
        z-index: 1;
        right: 0.5rem;
    }
    .nav a{
        display: block;
        margin: 0;
    }
    .label{
        cursor: pointer;
        display: block;
    }
    #toggle:checked+.nav{
        display: block;
    }
    nav li ul{
        visibility: hidden;
    }
}